/*-- scss:defaults --*/

/* TODO: Customize presentation appearance by setting SCSS variables */
/* See https://quarto.org/docs/presentations/revealjs/themes.html#customizing-themes */

/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */

/*-- scss:defaults --*/
$presentation-font-size: 32px;

/* Adjust headings relative to the base size (e.g., 2.0 = 200% of base size) */
$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.3em;
